# Executáveis Linux
servidor
cliente
conta

# Executáveis Windows
*.exe

# Objetos gerados pelo compilador
*.o
*.obj

# Bibliotecas
*.a
*.lib
*.dll
*.so

# Arquivos temporários
*.tmp

# Arquivos de log
*.log

# Arquivos do VS Code
.vscode/

# Banco de dados gerado pelo programa
contas.dat
arquivo.dat